<p>
  <b>Href:</b>
  <%=h @website.href %>
</p>

<p>
  <b>Name:</b>
  <%=h @website.name %>
</p>

<p>
  <b>User:</b>
  <%=h @website.user_id %>
</p>


<%= link_to 'edit', edit_website_path(@website) %> |
<%= link_to 'websites', websites_path %>
<%= link_to_backup %>
