<h1>Editing following</h1>

<% form_for(@following) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :target_id %><br />
    <%= f.select :target_id, @following.target_type.constantize.send('map_name_and_id'), :id => 'target_select' %>
  </p>
  <p>
    <%= f.label :follower_id %><br />
    <%= f.select :follower_id, @following.follower_type.constantize.send('map_name_and_id'), :id => 'follower_select' %>
  </p>
  <p>
    <%= f.submit :sure? %>
  </p>
<% end %>

<%= link_to 'show', @following %> |
<%= link_to 'followings', followings_path %>
<%= link_to_backup %>
