<h1>Editing following</h1>

<% form_for(@following) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :follower_id %><br />
    <%= f.text_field :follower_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @following %> |
<%= link_to 'Back', followings_path %>
