<h1>followings keep track of who is following who and which groups and locations</h1>

<table>
  <tr>
    <th>Follower</th>
  </tr>

<% for following in @followings %>
  <tr>
    <td><%= link_to 'follower', following.follower %> following <%= link_to 'followed', following.target %></td>
    <td><%= link_to 'show', following %></td>
    <td><%= link_to 'edit', edit_following_path(following) %></td>
    <td><%= link_to 'Destroy', following, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new following', new_following_path %>
