<h1> message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_area :body %>what it is:
  </p>
  <p>
    <%= f.select :recipient_id, User.map_name_and_id %>to:
  </p>
  <p>
    <%= f.select :reply_id, current_user.incoming_messages.map_name_and_id, :include_blank => true %>replying to?
  </p>
  <p>
    <%= f.submit :bestow %>
  </p>
<% end %>

<%= link_to 'messages', messages_path %>
<%= link_to_backup %>
