<h1>New message</h1>

<% form_for(@message) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :recipient_id %><br>
    <%= f.select :recipient_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.label :reply_id %><br />
    <%= f.select :reply_id, User.incoming_messages.map_name_and_id %>
  </p>
  <p>
    <%= f.submit :bestow %>
  </p>
<% end %>

<%= link_to 'messages', messages_path %>
<%= link_to_backup %>
