<h1> membership</h1>

<% form_for(@membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id %><br />
    <%= f.text_field :group_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @membership %> |
<%= link_to 'memberships', memberships_path %>
<%= link_to_backup %>
