<h1>memberships keep track of who is in which groups</h1>

<table>
  <tr>
    <th>Group</th>
    <th>User</th>
  </tr>

<% for membership in @memberships %>
  <tr>
    <td><%= link_to membership.group.name, membership.group %></td>
    <td><%= link_to membership.user.name, membership.user %></td>
    <td><%= link_to 'show', membership %></td>
    <td><%= link_to 'edit', edit_membership_path(membership) %></td>
    <td><%= link_to 'Destroy', membership, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new membership', new_membership_path %>
