<h1>memberships keep track of who is in which groups</h1>

<table>

<% for membership in @memberships %>
  <tr>
    <td><%= link_to_name membership.user %></td>
    <td>is a member of <%= link_to_name membership.group %></td>  
    <td><%= link_to 'show', membership %></td>
    <td><%= link_to 'edit', edit_membership_path(membership) if membership.user == current_user %></td>
    <td><%= link_to 'members of this group', group_memberships_path(membership.group) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new membership', new_membership_path %>
