<h1> membership</h1>

<% form_for(@membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :group_id %><br />
    <%= f.select :group_id, Group.map_name_and_id %>
  </p>
  <p>
    <%= f.submit 'join up' %>
  </p>
<% end %>

<%= link_to 'memberships', memberships_path %>

