<h1>new product available<%= " at #{@offering.location.name}" if @offering.location %></h1>

<% form_for @offering do |f| %>
  <%= f.error_messages %>

  <% if @offering.product %>
    <%= f.hidden_field :product_id %>
  <% else %>
    <p>
      <%= f.label :product_id %><br />
      <%= f.select :product_id, Product.map_name_and_id %>
      <%= link_to 'add new product', new_product_path %>
    </p>
  <% end %>
  <% if @offering.location %>
    <%= f.hidden_field :location_id %>
  <% else %>
    <p>
      <%= f.label :location_id %><br />
      <%= f.select :location_id, current_user.authorized_locations.map_name_and_id %>
      <%= link_to 'add new location', new_location_path %>
    </p>
  <% end %>
  <p>
    <%= f.label 'how many in stock' %><br />
    <%= f.text_field :stock, :size => 8 %>
  </p>
  <p>
    <%= f.submit 'done-zo' %>
  </p>
<% end %>

<%= link_to 'offerings', offerings_path %>

