<p>
  <b>Product:</b>
  <%=h @offering.product_id %>
</p>

<p>
  <b>Location:</b>
  <%=h @offering.location_id %>
</p>

<p>
  <b>Stock:</b>
  <%=h @offering.stock %>
</p>


<%= link_to 'edit', edit_offering_path(@offering) %> |
<%= link_to 'Back', offerings_path %>
