<h1>notices</h1>

<table>
  <tr>
    <th>Target type</th>
    <th>Target</th>
    <th>Followed type</th>
    <th>Followed</th>
    <th>Secondary targets</th>
    <th>User</th>
    <th>Private</th>
    <th>age</th>
  </tr>

<% for notice in @notices %>
  <tr>
    <td><%=h notice.target_type %></td>
    <td><%= link_to_name notice.target %></td>
    <td><%=h notice.followed_type %></td>
    <td><%= link_to_name notice.followed %></td>
    <td><%=h notice.secondary_targets %></td>
    <td><%= link_to_name notice.user %></td>
    <td><%=h notice.private %></td>
    <td><%= time_ago_in_words notice.created_at %></td>
    <td><%= link_to 'show', notice %></td>
    <td><%= link_to 'edit', edit_notice_path(notice) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new notice', new_notice_path %>
