<% unless @notice.private %>
	<p><%= h @notice.body %></p>

	<%= link_to_name @notice.target %>

	<p>
	  <%= link_to_name @notice.followed %>
	</p>

	<p>
	  <b>Secondary targets:</b>
	  <%= @notice.secondary_targets.map { |t| link_to_name t.first.constantize.send(:find, t.last) } %>
	</p>

	<p>
	  <%= link_to_name @notice.user %>
	</p>

	<p>
	  <%= time_ago_in_words(@notice.created_at) + ' old' %>
	</p>

	<%= link_to 'Edit', edit_notice_path(@notice) %> |
	<%= link_to_backup %>

<% else %>

Private!
<% end %>