<h1> network_membership</h1>

<% form_for(@network_membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :network_id %><br />
    <%= f.text_field :network_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @network_membership %> |
<%= link_to 'network_memberships', network_memberships_path %>

