<h1>New network_membership</h1>

<% form_for(@network_membership) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.label :network_id %><br />
    <%= f.select :network_id, Network.map_name_and_id %>
  </p>
  <p>
    <%= f.submit :money %>
  </p>
<% end %>

<%= link_to 'network_memberships', network_memberships_path %>
<%= link_to_backup %>
