<h1>listings keep track of which items are on have and want and like lists</h1>

<% for listing in @listings %>
  <% unless listing.private? %>
    <%= link_to_name listing.user %>
    <%= {1 => 'likes', 2 => 'wants', 3 => 'has'}[listing.list_type] %>
    <%= link_to_name listing.product %>
    <%= link_to_name listing.brand %>
    <%= link_to_name listing.store %>
    <%= link_to 'show', listing %>
    <%= link_to 'edit', edit_listing_path(listing) if listing.user == current_user %>
  <% end %>
<% end %>
<br>

<%= link_to 'new listing', new_listing_path %>
