<h1> listing</h1>

<% form_for(@listing) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :list_type %><br />
    <%= f.select :list_type, [['want', 1], ['have', 2], ['like', 3]] %>
  </p>
  <p>
    <%= f.label :product_id %><br />
    <%= f.select :product_id, Product.map_name_and_id %>
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= f.select :brand_id, Brand.map_name_and_id %>
  </p>
  <p>
    <%= f.label :store_id %><br />
    <%= f.select :store_id, Store.map_name_and_id %>
  </p>
  <p>
    <%= f.label :private %><br />
    <%= f.select :private, Group.map_name_and_id %>
  </p>
  <p>
    <%= f.submit :'listen(enlist?)' %>
  </p>
<% end %>

<%= link_to 'listings', listings_path %>
<%= link_to_backup %>
