<h1>comments</h1>

<table>
  <tr>
    <th>Body</th>
    <th>User</th>
    <th>Reply</th>
    <th>Target type</th>
    <th>Target</th>
  </tr>

<% for comment in @comments %>
  <tr>
    <td><%=h comment.body %></td>
    <td><%= link_to comment.user.name, comment.user %></td>
    <td><%=h comment.reply.b %></td>
    <td><%=h comment.target_type %></td>
    <td><%=h comment.target_id %></td>
    <td><%= link_to 'show', comment %></td>
    <td><%= link_to 'edit', edit_comment_path(comment) %></td>
    <td><%= link_to 'Destroy', comment, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new comment', new_comment_path %>
