<h1>New comment</h1>

<% form_for(@comment) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.label :reply_id %><br />
    <%= f.text_field :reply_id %>
  </p>
  <p>
    <%= f.label :target_type %><br />
    <%= f.select :target_type, ['Product', 'Store', 'Brand', 'Location', 'User', 'Group', 'Price', 'Listing', 'Image', 'Comment', 'Offering', 'State', 'City', 'Website', 'WebsiteUse', 'ImageUse', 'Message', 'Network', 'Purchase', 'Tag', 'Tagging'] # omitted: following, membership, %>
  </p>
  <p>
    <%= f.label :target_id %><br />
    <%= f.text_field :target_id %>
  </p>
  <p>
    <%= f.submit :speak %>
  </p>
<% end %>

<%= link_to 'comments', comments_path %>
<%= link_to_backup %>
