<h1>website_uses keep track of which websites are attached to which objects</h1>

<table>
  <tr>
    <th>Target type</th>
    <th>Target</th>
    <th>Website</th>
  </tr>

<% for website_use in @website_uses %>
  <tr>
    <td><%=h website_use.target_type %></td>
    <td><%= link_to 'here', website_use.target %></td>
    <td><%=h website_use.website.name %></td>
    <td><%= link_to 'show', website_use %></td>
    <td><%= link_to 'edit', edit_website_use_path(website_use) %></td>
    <td><%= link_to 'Destroy', website_use, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new website_use', new_website_use_path %>
