<p>
  <b>Target type:</b>
  <%=h @website_use.target_type %>
</p>

<p>
  <b>Target:</b>
  <%=h @website_use.target_id %>
</p>

<p>
  <b>Website:</b>
  <%=h @website_use.website_id %>
</p>


<%= link_to 'edit', edit_website_use_path(@website_use) %> |
<%= link_to 'Back', website_uses_path %>
