<h1>networks</h1>

<table>
<% for network in @networks %>
  <tr>
    <td><%= link_to_name network %></td>
    <td><%= link_to_name network.city %></td>
    <td><%= link_to_name network.state %></td>
		<td><%= join_network_link network %></td>
    <td><%= link_to 'edit', edit_network_path(network) %></td>
    <td><%= attach_image_link network %></td>
    <td><%= link_to_remote 'attach site', :url => attach_site_path(network), :update => 'uses', :method => :get %></td>
  </tr>
<% end %>
</table>
<div id="uses"></div>

<br />

<%= link_to 'new network', new_network_path %>
