<%=h @network.name %><br>
<%=h @network.city.name %><%= ', ' if @network.city && @network.state %><%=h @network.state.name %><br>
  
<%= @network.network_memberships.count %> members!<br>
<%= attach_image_link @network %>
<%= attachable_sites @network %>
<div id="uses"></div>
<%= link_to 'networks', networks_path %>
