<%=h @network.name %><br>
<%=h @network.city.name %><%= ', ' if @network.city && @network.state %><%=h @network.state.name %><br>
  
<%= @network.network_memberships.count %> members!<br>
<%= attach_image_link @network %>
<%= attachable_sites @network %>
<h2>tags</h2>
<%= render :partial => 'tags/tag_form', :locals => {:obj => @network} %>
<h2>comments</h2>
<%= render :partial => 'comments/comment_display', :locals => {:obj => @network} %>
<%= link_to 'networks', networks_path %>
