<p>
  <b>Name:</b>
  <%=h @network.name %>
</p>

<p>
  <b>City:</b>
  <%=h @network.city.name %>
</p>

<p>
  <b>State:</b>
  <%=h @network.state.name %>
</p>


<%= link_to 'edit', edit_network_path(@network) %> |
<%= link_to 'Back', networks_path %>
