<h1> store</h1>

<% form_for(@store) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrator_id %><br />
    <%= f.text_field :administrator_id %>
  </p>
  <p>
    <%= f.label :primary_image_id %><br />
    <%= f.text_field :primary_image_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @store %> |
<%= link_to 'stores', stores_path %>
<%= link_to_backup %>
