<h1>stores</h1>

<table>
  <tr>
    <th></th>
    <th>administrator</th>
  </tr>

<% for store in @stores %>
  <tr>
    <td><%= link_to_name store %></td>
    <td><%= link_to_name store.administrator %></td>
    <td><%= link_to 'edit', edit_store_path(store) %></td>
    <td><%= attach_image_link store %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new store', new_store_path %>
