<h1> store</h1>this just deals with the store name and logo. to list specific branches of a store <%= link_to 'go here', new_location_path %>.

<% form_for(@store, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrator_id %><br />
    <%= f.select :administrator_id, User.map_name_and_id %>
  </p>
  <%= label :phone, :number %>
  <%= text_field :phone, :number, :size => 10 %>
  <%= label :website, :url %>
  <%= text_field :website, :url %>
  <%= %>
  <p>
    <%= f.label :primary_image_id %><br />
    <%= f.select :primary_image_id, Image.map_name_and_id('filename'), :include_blank => true %>
    <%= file_field :image, :uploaded_data %>
  </p>
  <p>
    <%= f.submit "ready" %>
  </p>
<% end %>

<%= link_to 'stores', stores_path %>
<%= link_to_backup %>
