<h1> store</h1>

<% form_for(@store) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrator_id %><br />
    <%= f.select :administrator_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.label :primary_image_id %><br />
    <%= f.select :primary_image_id, Image.map_name_and_id('filename') %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'stores', stores_path %>
<%= link_to_backup %>
