<p>
  <b>Blog:</b>
  <%=h @blog_post.blog_id %>
</p>

<p>
  <b>Post:</b>
  <%=h @blog_post.post_id %>
</p>

<p>
  <b>User:</b>
  <%=h @blog_post.user_id %>
</p>


<%= link_to 'Edit', edit_blog_post_path(@blog_post) %> |
<%= link_to 'Back', blog_posts_path %>
