<h1>credit_cards</h1>

<table>
  <tr>
    <th>address</th>
    <th>card number[last 4]</th>
  </tr>

<% for credit_card in @credit_cards %>
  <tr>
    <td><%= link_to_name credit_card.address %></td>
    <td><%=h credit_card.last_four %></td>
    <td><%= link_to 'show', credit_card %></td>
    <td><%= link_to 'edit', edit_credit_card_path(credit_card) %></td>
    <td><%= link_to 'remove', credit_card, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new credit card', new_credit_card_path %>
