<h1> credit_card</h1>

<% form_for(@credit_card) do |f| %>
  <%= f.error_messages %>
cc
  <p>
    <%= f.select :address_id, Address.map_name_and_id %><%= f.label :address_id, 'select address or' %>
		<%= link_to 'enter new address', new_address_path %>
  </p>
  <p>
    <%= f.text_field :card_number, :size => 19 %>    <%= f.label :card_number, 'card number' %>
  </p>
  <p>
    <%= f.text_field :expiration_month, :size => 2 %>    <%= f.label :expiration_month, 'expiration month (MM)' %>
  </p>
  <p>
    <%= f.text_field :expiration_year, :size => 2 %>    <%= f.label :expiration_year, 'expiration year (YY)' %>
  </p>
  <p>
    <%= f.text_field :security_code, :size => 6 %>    <%= f.label :security_code, 'security code' %>
  </p>
	<p>
		<%= f.text_field :name %><%= f.label :name, 'and a name for this card' %>
	</p>
  <p>
    <%= f.submit :empower %>
  </p>
<% end %>

<%= link_to 'credit_cards', credit_cards_path %>
<%= link_to_backup %>
