<h1>New credit_card</h1>

<% form_for(@credit_card) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :address_id %><br />
    <%= f.select :address_id, Address.map_name_and_id %>
  </p>
  <p>
    <%= f.label :card_number %><br />
    <%= f.text_field :card_number %>
  </p>
  <p>
    <%= f.label :expiration_month %><br />
    <%= f.text_field :expiration_month, :length => 2 %>
  </p>
  <p>
    <%= f.label :expiration_year %><br />
    <%= f.text_field :expiration_year, :length => 2 %>
  </p>
  <p>
    <%= f.label :security_code %><br />
    <%= f.text_field :security_code, :length => 6 %>
  </p>
  <p>
    <%= f.submit :empower %>
  </p>
<% end %>

<%= link_to 'credit_cards', credit_cards_path %>
<%= link_to_backup %>
