<h1>Editing group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrator_id %><br />
    <%= f.text_field :administrator_id %>
  </p>
  <p>
    <%= f.label :group_type %><br />
    <%= f.text_field :group_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @group %> |
<%= link_to 'Back', groups_path %>
