<h1> group</h1>

<% form_for(@group) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :administrator_id %><br />
    <%= f.select :administrator_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.label :group_type %><br />
    <%= f.select :group_type, [['open - splurgers can join', 1], ['public - only you add splurgers', 2], ['private - invite only', 3], ['personal - for your use and your eyes', 4]] %>
  </p>
  <p>
    <%= f.submit :regroup %>
  </p>
<% end %>

<%= link_to 'show', @group %> |
<%= link_to 'groups', groups_path %>
<%= link_to_backup %>
