<h1><%=h @group.name %>!</h1><%= follow_link @group %>  <%= join_group_link @group %>
<%= primary_image @group %>
<%= pluralize @group.users.count, 'member' %><br>
<%= attach_image_link @group %>
<%= attachable_sites @group %>
  
<h2>tags</h2><%= render :partial => 'tags/tag_form', :locals => {:obj => @group} %>
<h2>comments</h2><%= render :partial => 'comments/comment_form', :locals => {:obj => @group} %>

