<p>
  <b>Name:</b>
  <%=h @group.name %>
</p>

<p>
  <b>Administrator:</b>
  <%= link_to @group.administrator.name, @group.administrator %>
</p>

<p>
  <b>Group type:</b>
  <%=h @group.group_type %>
</p>


<%= link_to 'edit', edit_group_path(@group) %> |
<%= link_to 'Back', groups_path %>
