<h1>in stock</h1>

<table>
  <tr>
    <th>offering</th>
    <th>style</th>
    <th>user</th>
  </tr>

<% for stock in @stocks %>
  <tr>
    <td><%= link_to_name stock.offering %></td>
    <td><%= link_to_name stock.style, 'display_for_select' %></td>
    <td><%= link_to_name stock.user %></td>
    <td><%= link_to 'show', stock %></td>
    <td><%= link_to 'edit', edit_stock_path(stock) if current_user.is_authorized_to_edit_offerings_at(stock.offering.location_id) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new stock', new_stock_path %>
