<p>
  <b>the deal:</b>
  <%= link_to_name @stock.offering.product %>
</p>
<p>
  <b>the spot:</b>
  <%= link_to_name @stock.offering.location %>
</p>
<p>
  <b>at what cost:</b>
  <%= link_to_name @stock.offering.price %>
</p>
<p>
  <b>the style:</b>
  <%= link_to_name @stock.style, 'display_for_select' %>
</p>

<p>
  stocked by  <%= link_to_name @stock.user %>
</p>

<%= link_to 'edit', edit_stock_path(@stock) %>
