<%= primary_image @user %>
<%= @user.login %><br><br>
<%= @user.listings.count %> items on lists<br>
<%= attach_image_link @user %><br>
<%= @user.persona %><br>
<%= @user.hobbies %><br>
<%= @user.interests %><br>

<%= message_link @user unless logged_in? && current_user == @user %>
<%= notifications_for @user if logged_in? && current_user == @user %><br>
<%= list_links @user %><br>
<%= attachable_sites @user %>
<%= follow_link @user %>
<%= link_to "#{@user.login}'s followed items", user_followings_path(@user) %>
<h2>tags</h2>
<%= render :partial => 'tags/tag_form', :locals => {:obj => @user} %>
<h2>comments</h2>
<%= render :partial => 'comments/comment_display', :locals => {:obj => @user} %>

<%= link_to 'edit', edit_user_path(@user) if @user == current_user %>