<h1> state</h1>

<% form_for(@state) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit :instate %>
  </p>
<% end %>

<%= link_to 'states', states_path %>

states we already know about:<br>
<%= State.all.map { |s| s.name + '.../////////////\\\\\\\\....' }.join %>