<h1>Listing purchases</h1>

<table>
  <tr>
    <th>User</th>
    <th>Offering</th>
    <th>Credit card</th>
    <th>Address</th>
    <th>Approved</th>
    <th>Complete</th>
  </tr>

<% for purchase in @purchases %>
  <tr>
    <td><%=h purchase.user_id %></td>
    <td><%=h purchase.offering_id %></td>
    <td><%=h purchase.credit_card_id %></td>
    <td><%=h purchase.address_id %></td>
    <td><%=h purchase.approved %></td>
    <td><%=h purchase.complete %></td>
    <td><%= link_to 'Show', purchase %></td>
    <td><%= link_to 'Edit', edit_purchase_path(purchase) %></td>
    <td><%= link_to 'Destroy', purchase, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New purchase', new_purchase_path %>
