<h1> purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :offering_id, 'what you want' %>
    <%= f.select :offering_id, Offering.map_name_and_id %>
  </p>
  <p>
    <%= f.label :credit_card_id, 'which card' %>
    <%= f.select :credit_card_id, current_user.credit_cards.map_name_and_id('name_or_four') %>
  </p>
  <p>
    <%= f.label :address_id, 'ship to' %>
    <%= f.select :address_id, (current_user.addresses + current_user.credit_cards.map(&:address)).uniq.map_name_and_id %>
  </p>
  <p>
    <%= f.submit "submit purchase to retailer" %>
  </p>
<% end %>

<%= link_to 'purchases', purchases_path %>
<%= link_to_backup %>
