<h1>New purchase</h1>

<% form_for(@purchase) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :offering_id %><br />
    <%= f.text_field :offering_id, Offering.map_name_and_id %>
  </p>
  <p>
    <%= f.label :credit_card_id %><br />
    <%= f.text_field :credit_card_id, CreditCard.map_name_and_id %>
  </p>
  <p>
    <%= f.label :address_id %><br />
    <%= f.select :address_id, Address.map_name_and_id %>
  </p>
  <p>
    <%= f.label :approved %><br />
    <%= f.check_box :approved %>
  </p>
  <p>
    <%= f.label :complete %><br />
    <%= f.check_box :complete %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'purchases', purchases_path %>
<%= link_to_backup %>
