<h1> schedule</h1>

<% form_for(@schedule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sunday_open %>
    <%= f.time_select :sunday_open %>

    <%= f.label :sunday_close %>
    <%= f.time_select :sunday_close %>
  </p>
  <p>
    <%= f.label :monday_open %>
    <%= f.time_select :monday_open %>
    <%= f.label :monday_close %>
    <%= f.time_select :monday_close %>
  </p>
  <p>
    <%= f.label :tuesday_open %>
    <%= f.time_select :tuesday_open %>
    <%= f.label :tuesday_close %>
    <%= f.time_select :tuesday_close %>
  </p>
  <p>
    <%= f.label :wednesday_open %>
    <%= f.time_select :wednesday_open %>
    <%= f.label :wednesday_close %>
    <%= f.time_select :wednesday_close %>
  </p>
  <p>
    <%= f.label :thursday_open %>
    <%= f.time_select :thursday_open %>
    <%= f.label :thursday_close %>
    <%= f.time_select :thursday_close %>
  </p>
  <p>
    <%= f.label :friday_open %>
    <%= f.time_select :friday_open %>
    <%= f.label :friday_close %>
    <%= f.time_select :friday_close %>
  </p>
  <p>
    <%= f.label :saturday_open %>
    <%= f.time_select :saturday_open %>
    <%= f.label :saturday_close %>
    <%= f.time_select :saturday_close %>
  </p>
  <p>
    <%= f.label :holidays, 'open on holidays?' %>
    <%= f.check_box :holidays %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @schedule %> |
<%= link_to 'schedules', schedules_path %>
<%= link_to_backup %>
