<h1>Editing schedule</h1>

<% form_for(@schedule) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :sunday_open %><br />
    <%= f.datetime_select :sunday_open %>
  </p>
  <p>
    <%= f.label :sunday_close %><br />
    <%= f.datetime_select :sunday_close %>
  </p>
  <p>
    <%= f.label :monday_open %><br />
    <%= f.datetime_select :monday_open %>
  </p>
  <p>
    <%= f.label :monday_close %><br />
    <%= f.datetime_select :monday_close %>
  </p>
  <p>
    <%= f.label :tuesday_open %><br />
    <%= f.datetime_select :tuesday_open %>
  </p>
  <p>
    <%= f.label :tuesday_close %><br />
    <%= f.datetime_select :tuesday_close %>
  </p>
  <p>
    <%= f.label :wednesday_open %><br />
    <%= f.datetime_select :wednesday_open %>
  </p>
  <p>
    <%= f.label :wednesday_close %><br />
    <%= f.datetime_select :wednesday_close %>
  </p>
  <p>
    <%= f.label :thursday_open %><br />
    <%= f.datetime_select :thursday_open %>
  </p>
  <p>
    <%= f.label :thursday_close %><br />
    <%= f.datetime_select :thursday_close %>
  </p>
  <p>
    <%= f.label :friday_open %><br />
    <%= f.datetime_select :friday_open %>
  </p>
  <p>
    <%= f.label :friday_close %><br />
    <%= f.datetime_select :friday_close %>
  </p>
  <p>
    <%= f.label :saturday_open %><br />
    <%= f.datetime_select :saturday_open %>
  </p>
  <p>
    <%= f.label :saturday_close %><br />
    <%= f.datetime_select :saturday_close %>
  </p>
  <p>
    <%= f.label :holidays %><br />
    <%= f.check_box :holidays %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @schedule %> |
<%= link_to 'Back', schedules_path %>
