<h1>New image_use</h1>

<% form_for(@image_use) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :image_id %><br />
    <%= f.select :image_id, Image.map_name_and_id('filename') %>
  </p>
  <p>
    <%= f.label :target_type %><br />
    <%= f.text_field :target_type %>
  </p>
  <p>
    <%= f.label :target_id %><br />
    <%= f.text_field :target_id %>
  </p>
  <p>
    <%= f.submit :use %>
  </p>
<% end %>

<%= link_to 'image_uses', image_uses_path %>
<%= link_to_backup %>
