<h1> image_use</h1>

<% form_for(@image_use) do |f| %>
  <%= f.error_messages %>

  <% if @image_use.image_id %>
    <%= f.hidden_field :image_id %>
  <% else %>
    <p>
      <%= f.label :image_id %><br />
      <%= f.select :image_id, Image.map_name_and_id('filename') %>
    </p>
  <% end %>
  
  <% if @image_use.target_id %>
    <%= f.hidden_field :target_type %>
    <%= f.hidden_field :target_id %>
  <% elsif @image_use.target_type %>
    <%= f.hidden_field :target_type %>
    <%= f.label :target_id %>
    <%= f.select :target_id, @image_use.target_type.constantize.send('map_name_and_id') %>
  <% else %>
    <p>
      <%= f.label :target_type %><br />
      <%= f.select :target_type, ImageUse.targets %>
    </p>
    <p>
      <%= f.label :target_id %><br />
      <%= f.text_field :target_id  %>
    </p>
  <% end %>
  <p>
    <%= f.submit :use %>
  </p>
<% end %>

<%= link_to 'image_uses', image_uses_path %>
<%= link_to_backup %>
