<h1>editing style for <%= @style.product.name %></h1>

<% form_for @style do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :size %><%= f.label :size, 'size' %>
  </p>
  <p>
    <%= f.text_area :traits, :size => '30x4' %><%= f.label :traits, 'description' %>
  </p>
  <p>
    <%= f.submit "update" %>
  </p>
<% end %>

<%= link_to 'show', @style %>
