<h1>new style<%= ' for ' + @style.product.name if @style.product %></h1>

<% form_for @style do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :size, :size => 8 %><%= f.label :size, 'size' %>
  </p>
  <p>
    <%= f.text_area :traits, :size => '30x2' %><%= f.label :traits, 'style' %>
  </p>
	<% if @style.product_id.blank? %>
  <p>
    <%= f.text_field :product_id %><%= f.label :product_id, 'product' %>
  </p>
	<% else %>
	  <%= f.hidden_field :product_id %>
	<% end %>
  <p>
    <%= f.submit "define" %>
  </p>
<% end %>
