<h2><%= link_to_name @style.product %></h2>is available in size <%=h @style.size %><br>
described as 
<i><%=h @style.traits %></i><br>

reported by <%= link_to_name @style.user, 'login' %>

<h3>available at</h3>
<% @style.offerings.each do |o| %>
  <%= link_to_name o.location %><%= '[' + o.price.point + ']' if o.price%><br>
<% end %>
<%= link_to 'edit', edit_style_path(@style) if @style.user == current_user %>
