<h1> price</h1>

<% form_for @price do |f| %>
  <%= f.error_messages %>
  $<%= f.text_field :point, :size => 5 %>
  <% if @price.offering %>
    <%= f.hidden_field :offering_id %>
  <% else %>
  <p>
    <%= f.label :offering_id %><br />
    <%= f.select :offering_id, Offering.map_name_and_id %>
    <%= link_to 'add new offering', new_offering_path %>
  </p>
  <% end %>
  <p>
    <%= f.label :sale %><br />
    <%= f.check_box :sale %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.submit :evaluate %>
  </p>
<% end %>

<%= link_to 'prices', prices_path %>
<%= link_to_backup %>
