<h1> address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :latitude %><br />
    <%= f.text_field :latitude %>
  </p>
  <p>
    <%= f.label :longitude %><br />
    <%= f.text_field :longitude %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :alternate_names %><br />
    <%= f.text_field :alternate_names %>
  </p>
  <p>
    <%= f.label :street %><br />
    <%= f.text_field :street %>
  </p>
  <p>
    <%= f.label :street2 %><br />
    <%= f.text_field :street2 %>
  </p>
  <p>
    <%#= f.label :city %><br />
    <%#= f.select :city %>
  </p>
  <p>
    <%#= f.label :state %><br />
    <%#= f.select :state %>
  </p>
  <p>
    <%= f.label :city_id %><br />
    <%= f.text_field :city_id %>
  </p>
  <p>
    <%= f.label :state_id %><br />
    <%= f.text_field :state_id %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'show', @address %> |
<%= link_to 'addresses', addresses_path %>
<%= link_to_backup %>
