<h1>addresses</h1>

<table>
  <tr>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Name</th>
    <th>Alternate names</th>
    <th>Street</th>
    <th>Street2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
  </tr>

<% for address in @addresses %>
  <tr>
    <td><%=h address.latitude %></td>
    <td><%=h address.longitude %></td>
    <td><%=h address.name %></td>
    <td><%=h address.alternate_names %></td>
    <td><%=h address.street %></td>
    <td><%=h address.street2 %></td>
    <td><%= link_to_name address.city %></td>
    <td><%= link_to_name address.state %></td>
    <td><%=h address.zip %></td>
    <td><%= link_to 'show', address %></td>
    <td><%= link_to 'edit', edit_address_path(address) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new address', new_address_path %>
