<h1> address</h1>

<% form_for(@address) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.text_field :name %>    <%= f.label :name %>
  </p>
  <p>
    <%= f.text_field :alternate_names %>    <%= f.label :alternate_names %>
  </p>
  <p>
    <%= f.text_field :street %>    <%= f.label :street %>
  </p>
  <p>
    <%= f.text_field :street2 %>    <%= f.label :street2 %>
  </p>
  <p>
    <%= f.select :city_id, City.map_name_and_id, :include_blank => true %>    <%= f.label :city_id, 'select city or enter here' %>
    <%= f.text_field :city_name %>
  </p>
  <p>
    <%= f.select :state_id, State.map_name_and_id, :include_blank => true %>    <%= f.label :state_id, 'select state or enter here' %>
    <%= f.text_field :state_name %>
  </p>
  <p>
    <%= f.text_field :zip %>    <%= f.label :zip %>
  </p>
  <p>
    <%= f.submit :encode %>
  </p>
<% end %>

<%= link_to 'addresses', addresses_path %>

