<p>
  <b>Latitude:</b>
  <%=h @address.latitude %>
</p>

<p>
  <b>Longitude:</b>
  <%=h @address.longitude %>
</p>

<p>
  <b>Name:</b>
  <%=h @address.name %>
</p>

<p>
  <b>Alternate names:</b>
  <%=h @address.alternate_names %>
</p>

<p>
  <b>Street:</b>
  <%=h @address.street %>
</p>

<p>
  <b>Street2:</b>
  <%=h @address.street2 %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state %>
</p>

<p>
  <b>City:</b>
  <%=h @address.city_id %>
</p>

<p>
  <b>State:</b>
  <%=h @address.state_id %>
</p>

<p>
  <b>Zip:</b>
  <%=h @address.zip %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
