<h1> city</h1>

<% form_for(@city) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.select :state_id, State.map_name_and_id %>
    <%= link_to 'new state', new_state_path %>
  </p>
  <p>
    <%= f.submit :identify %>
  </p>
<% end %>

<%= link_to 'cities', cities_path %>
<%= link_to_backup %>
