<h1>brands discussed at Splurgel</h1>

<table>
<% for brand in @brands %>
  <tr>
    <td><%= link_to_name brand %></td>
    <td><%= link_to_scoped_collection 'products', brand %></td>
		<td><%= link_to_scoped_collection 'stores', brand %></td>
    <td><%= attach_image_link brand %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new brand', new_brand_path %>
