<%= primary_image @brand %>
<h1>  <%=h @brand.name %>  </h1><%= follow_link @brand %> to get alerts about new products
<%=h @brand.phone %><br>
<%= attach_image_link @brand %>
<%= link_to_scoped_collection 'products', @brand %><br>
<%= lists @brand %>

<%= attachable_sites @brand %>
<%= link_to 'brands', brands_path %>
<br>
<%= link_to "new product for #{@brand.name}", new_brand_product_path(@brand) %>
<br>
<h2>crafted by <%= @brand.name %></h2>
<% @brand.products.each do |p| %>
	<%= link_to_name p %><br>
<% end %>