<h1>New authorization</h1>

<% form_for(@authorization) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :user_id %><br />
    <%= f.select :user_id, User.map_name_and_id %>
  </p>
  <p>
    <%= f.label :authorization_type %><br />
    <%= f.text_field :authorization_type %>
  </p>
    <%= f.hidden_field :target_type %>
		<%= f.hidden_field :authorizer_id, :value => current_user.id %>
  <p>
    <%= f.label :target_id %><br />
    <%= f.select :target_id, @authorized_spots.map { |s| [s.name, s.id] } %>
  </p>
  <p>
    <%= f.submit "authorize" %>
  </p>
<% end %>

<%= link_to 'Back', authorizations_path %>
