<h1>taggings keep track of which tags are on which objects</h1>

<table>
<% for tagging in @taggings %>
  <tr>
    <td><%= link_to_name tagging.tag %></td>
    <td>on <%= link_to_name tagging.target %></td>
    <td>from <%= link_to_name tagging.user %></td>
    <td><%= link_to 'show', tagging %></td>
    <td><%= link_to 'edit', edit_tagging_path(tagging) %></td>
    <td><%= attach_image_link tagging %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new tagging', new_tagging_path %>
