<h1>products</h1>

<% @products.each do |product| %>
  <% content_tag_for :div, product do %>
    <%= primary_image product %>
    <%= link_to_name product %>
    <%= link_to_name product.brand %>
    <%= link_to 'edit', edit_product_path(product) %>
    <%= attach_image_link product %>
    <%= link_to_remote 'attach site', :url => attach_site_path(product), :method => :get, :update => 'uses' %>
  <% end %>
<% end %>
<div id='uses'></div>
<br>

<%= link_to 'new product', new_product_path %>
