<h1>new product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.text_field :name %>    <%= f.label :name, 'product name' %>
  </p>
	<% unless @product.brand %>
	  <p>
	    <%= f.select :brand_id, Brand.map_name_and_id, :include_blank => true %>    <%= f.label :brand_id, 'select brand or enter here' %>
	    <%= text_field :brand, :name %>
	  </p>
	<% else %>
	  <%= link_to_name @product.brand %>
	  <%= f.hidden_field :brand_id %>
	<% end %>
  <p>
    <%= f.submit :'ready for consumption' %>
  </p>
<% end %>

<%= link_to 'products', products_path %>
<%= link_to_backup %>
