<h1>new product</h1>

<% form_for(@product) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :brand_id %><br />
    <%= f.select :brand_id, Brand.map_name_and_id %>
    <%= link_to 'add a brand', new_brand_path %>
  </p>
  <p>
    <%= f.submit :'ready for consumption' %>
  </p>
<% end %>

<%= link_to 'products', products_path %>
<%= link_to_backup %>
