<p>
  <b>Name:</b>
  <%=h @product.name %>
</p>

<p>
  <b>Brand:</b>
  <%=h @product.brand_id %>
</p>


<%= link_to 'edit', edit_product_path(@product) %> |
<%= link_to 'products', products_path %>
<%= link_to_backup %>
