<h1>Listing delivered_notices</h1>

<table>
  <tr>
    <th></th>
    <th>recipient</th>
    <th>read?</th>
		<th>age</th>
  </tr>

<% for delivered_notice in @delivered_notices %>
  <tr>
    <td><%=h delivered_notice.notice.body %></td>
    <td><%= link_to_name delivered_notice.user %></td>
    <td><%= time_ago_in_words(delivered_notice.read_at) + ' ago' if delivered_notice.read_at %></td>
    <td><%= time_ago_in_words delivered_notice.created_at %></td>
    <td><%= link_to 'show', delivered_notice %></td>
  </tr>
<% end %>
</table>
