<%= link_to_name @delivered_notice.notice, 'body' %>
<p>
  <%= link_to_name @delivered_notice.user %> has been notified.
</p>

<%=h @delivered_notice.read_at ? 'read ' + time_ago_in_words(@delivered_notice.read_at) + ' ago' : 'not read yet' %>

<%= @delivered_notice.dismissed_at ? 'and dismissed' : '' %>

<p>
  <%=h @delivered_notice.created_at %>
</p>

<%= link_to_backup %>
