<h1>a location is a particular branch of a store</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Store</th>
    <th>Schedule</th>
    <th>Address</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.phone %></td>
    <td><%= link_to_name location.store %></td>
    <td><%=h location.schedule.display %></td>
    <td><%= link_to_name location.address %></td>
    <td><%= link_to 'show', location %></td>
    <td><%= link_to 'edit', edit_location_path(location) if logged_in? && current_user.administers?(location) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new location', (params[:store_id] ? new_store_location_path(params[:store_id]) : new_location_path) %>
