<h1>a location is a particular branch of a store</h1>

<table>
  <tr>
    <th>Phone</th>
    <th>Store</th>
    <th>Schedule</th>
    <th>Address</th>
  </tr>

<% for location in @locations %>
  <tr>
    <td><%=h location.phone %></td>
    <td><%= link_to location.store.name, location.store %></td>
    <td><%=h location.schedule_id %></td>
    <td><%=h location.address_id %></td>
    <td><%= link_to 'show', location %></td>
    <td><%= link_to 'edit', edit_location_path(location) %></td>
    <td><%= link_to 'Destroy', location, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'new location', new_location_path %>
