<h1> location</h1>

<% form_for(@location) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :size => 13 %>
  </p>
  <p>
    <%= f.label :store_id %><br />
    <%= f.select :store_id, Store.map_name_and_id %>
  </p>
  <p>
    <%= f.label :schedule_id %><br />
    <%= f.select :schedule_id, Schedule.map_name_and_id %>
  </p>
  <p>
    <%= f.label :address_id %><br />
    <%= f.select :address_id, Address.map_name_and_id('display') %>
  </p>
  <p>
    <%= f.submit :locate %>
  </p>
<% end %>

<%= link_to 'locations', locations_path %>
<%= link_to_backup %>
