<p>
  <b>Phone:</b>
  <%=h @location.phone %>
</p>

<p>
  <b>Store:</b>
  <%=h @location.store_id %>
</p>

  <%= schedule_display @location.schedule if @location.schedule_id %>

<p>
  <b>Address:</b>
  <%=h @location.address_id %>
</p>


<%= link_to 'edit', edit_location_path(@location) %> |
<%= link_to 'locations', locations_path %>
<%= link_to_backup %>
