<h1>images</h1>

<% for image in @images %>
  <% content_tag_for :div, image do %>
    <% if image.content_type =~ /image/ %>
      <%= image_tag image.public_filename %>
    <% end %>
    <%= link_to 'show', image %>
    <%= link_to 'edit', edit_image_path(image) %>
    <%= attach_image_link image %><%= attach_image_link nil, image %>
  <% end %>
<% end %>

<br />

<%= link_to 'new image', new_image_path %>
