<p>
  <b>Size:</b>
  <%=h @image.size %>
</p>

<p>
  <b>Content type:</b>
  <%=h @image.content_type %>
</p>

<p>
  <b>Filename:</b>
  <%=h @image.filename %>
</p>

<p>
  <b>Height:</b>
  <%=h @image.height %>
</p>

<p>
  <b>Width:</b>
  <%=h @image.width %>
</p>

<p>
  <b>Parent:</b>
  <%=h @image.parent_id %>
</p>

<p>
  <b>Thumbnail:</b>
  <%=h @image.thumbnail %>
</p>


<%= link_to 'edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
